body {
    font-family: 'Palatino', serif;
    margin: 0;
    padding: 1em 30% 1em 8%;
    box-sizing: border-box;
    background-color: #FDFDF2;
    color: #8461a2;
    size: 12px;
}

header {
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 130px;
    background-color: #FDFDF2;
    padding-bottom: 25px;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding-top: 75px;
}

h2 {
    margin-top: 20;
}

h3 {
    margin-top: 20
}

p {
    margin-bottom: 2px;
    line-height: 1.3em;
}

ul {
    margin: 0;
    line-height: 1.2;
}

ol {
    line-height: 20px;
    line-height: 1.2;
}

.about,
.work, 
.contact {
    max-width: 600px;
    margin: 20px auto;
}

section {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    margin: 30 0 0;
    height: 20px;
}

a {
    color: #795996;
}

.gallery {
    max-width: 100%;
    align-items: center;
}

.gallery > img {
    margin: 1em 0 0;
    width: 400px;
    border-style: solid;
    border-width: 2px;
    max-width: 100%;
}

.gallery > p {
    font-size: 14px;
}

#sketches {
    width: 250px;
    border-style: solid;
    border-width: 2px;
}

.container {
    height: 100%;
    max-width: 100%;
}

.horizontal-line {
    border-bottom-width: 5px;
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #8461a2;
    margin: 20px 0 10px 0; 
}

@media screen and (min-width: 480px) {

    .container, #header {
        max-width: 70%;
    }

    .container, #body {
        max-width: 70%;
    }

    footer {
        max-width: 200%;
        height: 50px;
    }

    footer > .container {
        margin-top: 25px;
        padding-bottom: 50px;
    }

}